<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Iris flower type prediction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/5bf56866c4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/boostrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
  <meta http-equiv="refresh" content="2.5">
</head>
<body>
<div class="info" >
  <h2 class="info-h2">Type Of Flower : <%=final_type%></h2>
  <h2 class="info-h2">Accuracy Of The Algorithm :  <%=final_accuracy%></h2>
  <h2 class="info-h2">Confusion Matrix</h2>
  <h2><%=final_matrix1%></h2>
  <h2><%=final_matrix2%></h2>
  <h2><%=final_matrix3%></h2> 
</div>

<div class="login-box-secret">
  <a class="btn" style="text-align: center;" href="/submit" role="button">
    Predict Again!
  </a>
  <a class="btn" style="text-align: center;background-color: #dd4b39; #dd4b39" href="/logout" role="button">
    LOGOUT
  </a>
  <h6 style="margin-top: 25px; text-align: center;">Copyright © 2022.</h6>


